.header
	.header-item-menu
		a(href="#").header-menu-open
			i.icon-menu
	.header-item-logo
		.social-block.white.fr
			a(href="#")
				i.icon-vk-white
			a(href="#")
				i.icon-fb-white
		a(href="index.html").header-item-logo__action
			img(src="assets/img/logo.png", alt="estel saint-petersburg")
