//- подключаем шаблон
extends ./layouts/layout.jade

//- Тайтл
block title
	title Результаты поиска


//- Описывам контен
block content
	.white-block
		h1 О компании
	.e404
		.white-block
			img.mw100(src="assets/img/about-1.png", alt="")
		.white-block
			h2.center.uppercase Компания с историей
			p.center Компания была основана в 1999 году в Санкт-Петербурге, а первую серию красок для волос выпустила  25 января 2000 года. 

		.white-block
			img.mw100(src="assets/img/about-2.png", alt="")
		.white-block
			h2.center.uppercase Первые в индустрии
			p.center ESTEL – абсолютный лидер по производству косметики для волос в России и странах СНГ, а также один из крупнейших поставщиков в Европу с собственным представительством ESTEL Europe. 

		.white-block
			img.mw100(src="assets/img/about-3.png", alt="")
		.white-block
			h2.center.uppercase Масштабное производство
			p.center Сегодня ESTEL владеет 2-я производственными площадками в Санкт-Петербурге, одна из которых претендует на звание крупнейшего завода косметики для волос в Восточной Европе. Оба предприятия производят около 1000наименований продукции бренда, среди которых краски для волос, продукты по уходу за волосами, стайлинги. 
			
		.white-block
			img.mw100(src="assets/img/about-4.png", alt="")
		.white-block
			h2.center.uppercase Научный подход
			p.center В ESTEL функционирует собственная  научно-исследовательская лаборатория, обеспечивающая компании прогрессивную позицию на рынке и беспрецедентный контроль качества выпускаемой продукции. 
		
		.white-block
			img.mw100(src="assets/img/about-5.png", alt="")
		.white-block
			h2.center.uppercase По всей стране
			p.center В разных городах России, Украины и Казахстана работают 17 учебных центров бренда, в том числе вСанкт-Петербурге, Москве, Киеве  и Астане. По последним данным дистрибьюторов, косметику ESTEL используют более половины салонов красоты в России. 