//- подключаем шаблон
extends ./layouts/layout.jade

//- Тайтл
block title
	title ESTEL Haute couture


//- Описывам контен
block content
	.white-block
		h1 ESTEL Haute couture
	.colorz-block
		.white-block
			h5.title-block Оттенки
			.slider-container
				.scroller-block
					.scroller-wrap
						.scroller-slide
							.colorize-head
								label
									input(type="radio", data-title="Одинаковые волосы", data-description="Покрась волосы на ногав в блод" ,name="colorize", checked="checked")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 2", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 4", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 5", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 6", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 7", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 11", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 13", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio", data-title="Натуральный блонд 144", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 44", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд55", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio", data-title="Натуральный блонд5 ", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блондdsadas", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральsadas", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натураasdд", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio" ,data-title="Натурa блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Нат222ный блонд", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="vvv блонд", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Наasdasdлонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
				.colorize-head-title
					h5.colorize-head-title-title &nbsp;
					p.colorize-head-title-descrpiption &nbsp;	

			.before-after-colorz
				img(src="assets/img/before-after-colorz.png", alt="")
		.white-block
			a.btn-blue(href="#") Вернуться к описанию
