//- подключаем шаблон
extends ./layouts/layout.jade

//- Тайтл
block title
	title Главная


//- Описывам контен
block content
	.accord-wrap
		div.accrod-block
			a.accrod-block-toggler(style="background-image: url(assets/img/index-bg-1.png)", href="javascript:void(0);")
				h2 Estel Celebrity
			.accrod-block-bg
				.bg-w.tabs__head
					h3 Estel Celebrity
					p Ухаживающая стойкая гель-краска  для волос premium-класса
					a.btn-mini(href="#EstelCelebrity") Подробнее
					a.btn-mini(href="catalog.html") Каталог
		div.accrod-block
			a.accrod-block-toggler(style="background-image: url(assets/img/index-bg-2.png)", href="javascript:void(0);")
				h2 estel only
			.accrod-block-bg
				.bg-w.tabs__head
					h3 estel only
					p Ухаживающая стойкая гель-краска  для волос premium-класса
					a.btn-mini(href="#EstelOnly") Подробнее
					a.btn-mini(href="catalog.html") Каталог
		div.accrod-block
			a.accrod-block-toggler(style="background-image: url(assets/img/index-bg-3.png)", href="javascript:void(0);")
				h2 ESTEL LOVE
			.accrod-block-bg
				.bg-w.tabs__head
					h3 ESTEL LOVE
					p Ухаживающая стойкая гель-краска  для волос premium-класса
					a.btn-mini(href="#EstelLove") Подробнее
					a.btn-mini(href="catalog.html") Каталог
		div.accrod-block
			a.accrod-block-toggler(style="background-image: url(assets/img/index-bg-4.png)", href="javascript:void(0);")
				h2 ESTEL SOLO
			.accrod-block-bg
				.bg-w.tabs__head
					h3 ESTEL SOLO
					p Ухаживающая стойкая гель-краска  для волос premium-класса
					a.btn-mini(href="#EstelSolo") Подробнее
					a.btn-mini(href="catalog.html") Каталог
		div.accrod-block
			a.accrod-block-toggler(style="background-image: url(assets/img/index-bg-4.png)", href="javascript:void(0);")
				h2 ESTEL SOLO
			.accrod-block-bg
				.bg-w.tabs__head
					h3 ESTEL OLOLO
					p Ухаживающая стойкая гель-краска  для волос premium-класса
					a.btn-mini(href="#EstelOlolo") Подробнее
					a.btn-mini(href="catalog.html") Каталог
	
	.t-prod.tabs
		a.backtokines(href="#") Вернуться к выбору линеек
		.white-block
			.tabs__body
				.tabs-artile#EstelCelebrity
					img(src="assets/img/index-bg-4.png", alt="")
					h3.uppercase EstelCelebrity
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, maxime vel necessitatibus sapiente et, earum voluptatem incidunt optio, quidem autem ad aliquam omnis accusamus eius maiores velit doloribus fuga facilis.
					ul
						li 
							h5.title-block 100% И
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   

						li 
							h5.title-block 100% Интенсивность цвета.
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   

						li 
							h5.title-block 100% Интенсивность цвета.
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   
					img(src="assets/img/index-bg-4.png", alt="")
					h3.uppercase Estel only
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, maxime vel necessitatibus sapiente et, earum voluptatem incidunt optio, quidem autem ad aliquam omnis accusamus eius maiores velit doloribus fuga facilis.

				.tabs-artile#EstelOnly
					h3.uppercase EstelOnly
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, maxime vel necessitatibus sapiente et, earum voluptatem incidunt optio, quidem autem ad aliquam omnis accusamus eius maiores velit doloribus fuga facilis.
					ul
						li 
							h5.title-block 100% И
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   

						li 
							h5.title-block 100% Интенсивность цвета.
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   

						li 
							h5.title-block 100% Интенсивность цвета.
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   
					img(src="assets/img/index-bg-4.png", alt="")
					h3.uppercase Estel only
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, maxime vel necessitatibus sapiente et, earum voluptatem incidunt optio, quidem autem ad aliquam omnis accusamus eius maiores velit doloribus fuga facilis.
				.tabs-artile#EstelLove
					h3.uppercase EstelLove
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, maxime vel necessitatibus sapiente et, earum voluptatem incidunt optio, quidem autem ad aliquam omnis accusamus eius maiores velit doloribus fuga facilis.
					ul
						li 
							h5.title-block 100% И
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   

						li 
							h5.title-block 100% Интенсивность цвета.
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   

						li 
							h5.title-block 100% Интенсивность цвета.
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   
					img(src="assets/img/index-bg-4.png", alt="")
					h3.uppercase Estel only
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, maxime vel necessitatibus sapiente et, earum voluptatem incidunt optio, quidem autem ad aliquam omnis accusamus eius maiores velit doloribus fuga facilis.
				
				.tabs-artile#EstelSolo
					h3.uppercase EstelSolo
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, maxime vel necessitatibus sapiente et, earum voluptatem incidunt optio, quidem autem ad aliquam omnis accusamus eius maiores velit doloribus fuga facilis.
					ul
						li 
							h5.title-block 100% И
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   

						li 
							h5.title-block 100% Интенсивность цвета.
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   

						li 
							h5.title-block 100% Интенсивность цвета.
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   
					img(src="assets/img/index-bg-4.png", alt="")
					h3.uppercase Estel only
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, maxime vel necessitatibus sapiente et, earum voluptatem incidunt optio, quidem autem ad aliquam omnis accusamus eius maiores velit doloribus fuga facilis.
				
				.tabs-artile#EstelOlolo
					h3.uppercase EstelOlolo
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, maxime vel necessitatibus sapiente et, earum voluptatem incidunt optio, quidem autem ad aliquam omnis accusamus eius maiores velit doloribus fuga facilis.
					ul
						li 
							h5.title-block 100% И
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   

						li 
							h5.title-block 100% Интенсивность цвета.
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   

						li 
							h5.title-block 100% Интенсивность цвета.
							p  Уникальная система окрашивания Color reflex. Цветовые пигменты надёжно фиксируются внутри волоса, обеспечивая яркий, интенсивный цвет.   
					img(src="assets/img/index-bg-4.png", alt="")
					h3.uppercase Estel only
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, maxime vel necessitatibus sapiente et, earum voluptatem incidunt optio, quidem autem ad aliquam omnis accusamus eius maiores velit doloribus fuga facilis.
