//- подключаем шаблон
extends ./layouts/layout.jade

//- Тайтл
block title
	title Найди свой цвет


//- Описывам контен
block content
	.white-block
		h1 Найди свой цвет
		//- Слайдер
	.konstruktor
		.white-block
			.title-numeric(data-numer="1") 
				span В какой оттенок окрашены выши волосы?
		.white-block
			//- Слайдер
			.slider-container
				.scroller-block
					.scroller-wrap
						.scroller-slide
							.colorize-head
								label
									input(type="radio", data-title="Одинаковые волосы", data-description="Покрась волосы на ногав в блод" ,name="colorize", checked="checked")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 2", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 4", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 5", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 6", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 7", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 11", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 13", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio", data-title="Натуральный блонд 144", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 44", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд55", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio", data-title="Натуральный блонд5 ", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блондdsadas", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральsadas", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натураasdд", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio" ,data-title="Натурa блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Нат222ный блонд", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="vvv блонд", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Наasdasdлонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
				.colorize-head-title
					h5.colorize-head-title-title &nbsp;
					p.colorize-head-title-descrpiption &nbsp;	
		.white-block
			.page-paginator
				a(href="#").fl
					i.icon-arrow-left
					span назад
				span.page-paginator__numer 2/8
				a(href="#").fr
					span далее
					i.icon-arrow-right
