//- подключаем шаблон
extends ./layouts/layout.jade

//- Тайтл
block title
	title Найди свой цвет


//- Описывам контен
block content
	.white-block
		h1 Найди свой цвет
		//- Слайдер
	.konstruktor
		.white-block
			h5.light_gray  Ваш результат:
			h2.uppercase ESTEL celebrity
			p Стойкая краска для волос.  Палитра  включает 30 ярких оттенков. Яркие  сияющие оттенки. Система Color Reflex.
			img.img-block(src="assets/img/estel-product__tmp.png", alt="")
		.white-block
			h5.title-block Подходящие оттенки
			//- Слайдер
			.slider-container
				.scroller-block
					.scroller-wrap 
						.scroller-slide
							.colorize-head
								label
									input(type="radio", data-title="Одинаковые волосы ыыыыыыыыыыыы ы ы ы", data-description="Покрась волосы на ноге в в блонд!!!!!!!1111 1111 УПЧК" ,name="colorize", checked="checked")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 2", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 3", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 4", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 5", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 6", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 7", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 11", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 13", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio", data-title="Натуральный блонд 144", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд 44", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд55", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio", data-title="Натуральный блонд5 ", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блондdsadas", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральsadas", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натураasdд", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Натуральный блонд", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio" ,data-title="Натурa блонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="Нат222ный блонд", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
							.colorize-head
								label
									input(type="radio", name="colorize", data-title="vvv блонд", data-description="Raspberry Creme/Medium Red")
									ins(style="background-image: url(assets/img/colorize-head.png);")
						.scroller-slide
							.colorize-head
								label
									input(type="radio",data-title="Наasdasdлонд", data-description="Raspberry Creme/Medium Red" ,name="colorize")
									ins(style="background-image: url(assets/img/colorize-head.png);")
				.colorize-head-title
					h5.colorize-head-title-title &nbsp;
					p.colorize-head-title-descrpiption &nbsp;
		.social-block.blue.bordered
			.white-block
				span.fl Поделиться
				span.fr
					a(href="#")
						i.icon-vk-blue
					a(href="#")
						i.icon-fb-blue
					a(href="#")
						i.icon-tw-blue
					a(href="#")
						i.icon-odn-blue
				.clearfix
		.white-block
			a.btn-blue(href="#") на страницу продукта
			a.btn-white(href="#") начать заново