//- подключаем шаблон
extends ./layouts/layout.jade

//- Тайтл
block title
	title Новость | ESTEL Haute Couture Eau de Parfum 2014


//- Описывам контен
block content
	.white-block
		h1(data-date="22 Октября, 2015") ESTEL Haute Couture Eau de Parfum 2014
		//- Слайдер
	.white-block
		.slider-block
			.swiper-container
				.swiper-wrapper
					.swiper-slide(style="background-image: url(assets/img/estel_brov.jpg)")
					.swiper-slide(style="background-image: url(assets/img/estel_parf.jpg)")
					.swiper-slide(style="background-image: url(assets/img/estel_telo.jpg)")
			.swiper-pagination &nbsp;
		p Борьба за призовые места была очень активной и все участники действительно старались привнести праздничную, новогоднюю атмосферу в каждый салон!  ESTEL благодарит всех конкурсантов  за стремление к победе и поздравляет финалистов! Ведь благодаря общим усилиям мы добились главной цели конкурса: радости наших дорогих клиентов!
		blockquote Конкурс «Территория  праздника ESTEL» подошел  к концу и мы с радостью объявляем топ-100 финалистов!
		p В рамках мероприятия при участии главы компании ESTEL Льва Охотина состоялось официальное открытие краснодарской студии ESTEL. Теперь  и в столице Кубани консультанты профессиональных магазинов, преподаватели учебных заведений, администраторы и мастера салонов красоты и все, кому интересен мир парикмахерского искусства, могут пройти обучение и повышение квалификации, а также познакомиться  с уникальными продуктами ESTEL  в современной оборудованной студии.
		h2 Новый коллекционный  парфюм ESTEL Haute  Couture
		p Борьба за призовые места была очень активной и все участники действительно старались привнести праздничную, новогоднюю атмосферу в каждый салон!  ESTEL благодарит всех конкурсантов  за стремление к победе и поздравляет финалистов! Ведь благодаря общим усилиям мы добились главной цели конкурса: радости наших дорогих клиентов!
		.video-block
			a(href="#", target="_blank", style="background-image: url(assets/img/estel-product__tmp.png)").video-block-img
				.video-play

		p В рамках мероприятия при участии главы компании ESTEL Льва Охотина состоялось официальное открытие краснодарской студии ESTEL. Теперь  и в столице Кубани консультанты профессиональных магазинов, преподаватели учебных заведений, администраторы и мастера салонов красоты и все, кому интересен мир парикмахерского искусства, могут пройти обучение и повышение квалификации, а также познакомиться  с уникальными продуктами ESTEL  в современной оборудованной студии.
	
	.white-block.new-social
		//- прозрачные
		.social-block.blue
			span.fl Поделиться
			span.fr
				a(href="#")
					i.icon-vk-blue
				a(href="#")
					i.icon-fb-blue
				a(href="#")
					i.icon-tw-blue
				a(href="#")
					i.icon-odn-blue
			.clearfix