footer
	background:  #242424;
	.footer
		height 110px
		padding-top: 20px
		padding-bottom 20px
		text-align center
		.copyright
			font-size: 12px
			display block
			color: #8e8e8e
			padding-top: 11px
			padding-bottom: 8px
		a
			font-size: 14px
			display inline-block
