
<div class="nav">
	<div class="nav-search">
		<div class="input-wrap search">
			<form action="">
				<input type="submit" class="search-submit"/>
				<input type="text" placeholder="Поиск" class="search-search"/>
				<input type="reset" class="search-reset"/>
			</form>
		</div>
	</div>
	<div class="nav-list">
		<ol>
			<li><a href="#" class="nav-active"><span>Продукция</span></a></li>
			<li><a href="#"><span>Подобрать цвет</span></a></li>
			<li class="toggle-hider"><a href="#" class="toggle-hider-header"><span>Советы профессионалов</span><b class="icon-arrow-bottom"></b></a>
				<ol class="toggle-hider-content">
					<li><a href="#"><span>Советы по окрашиванию</span></a></li>
					<li><a href="#"><span>Вопросы покупателей </span></a></li>
				</ol>
			</li>
			<li><a href="#"><span>О компании</span></a></li>
			<li><a href="#"><span>Новости</span></a></li>
			<li><a href="#"><span>Контакты</span></a></li>
		</ol>
	</div>
</div>